.matlist {
  padding-bottom: 60px;
}

.matlist-icon {
  position: absolute;
  top: 50%;
  color: #773dbd;
  font-size: 20px;
}

.matlist-label {
  position: absolute;
  top: 50%;
  margin-left: 44px;
}
