<mat-nav-list>
  <mat-list-item class="matlist" (click)="dismiss()">
    <mat-icon class="matlist-icon">inventory_2</mat-icon>
    <span mat-line class="matlist-label">İş Avans Talebi Oluştur</span>
  </mat-list-item>
  <mat-list-item class="matlist" (click)="dismiss()">
    <mat-icon class="matlist-icon">article</mat-icon>
    <span mat-line class="matlist-label">Yıllık İzin Talebi Oluştur</span>
  </mat-list-item>
  <mat-list-item class="matlist" (click)="dismiss()">
    <mat-icon class="matlist-icon">person</mat-icon>
    <span mat-line class="matlist-label">Eğitim Talebi Oluştur</span>
  </mat-list-item>
</mat-nav-list>
